@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Source+Sans+Pro&display=swap');
@import "partial/classes";

* {
    box-sizing: border-box;
    font-family: $fonts;
}

html, body {
    margin: 0;
}


.full-screen-login-container{ 
    @extend .full-screen-login-container;
}

.login-container {
    @extend .login-container;
}

.login-title {
    @extend .login-title;
}

.input-group {
    @extend .input-group;
}


.login-button {
    @extend .login-button;
}