@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Source+Sans+Pro&display=swap');
@import "partial/classes";

* {
    box-sizing: border-box;
    font-family: $fonts;
}

html, body {
    margin: 0;
}