@import "variables";
@import "mixins";


.full-screen-login-container {
    background: url(../src/max-bender-Rge7khBAQ-Q-unsplash.jpg) center/cover ;
    
    display: grid;
    grid-template: repeat(12, 1fr);
    
    height: 100vh;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-container {

    grid-column: 4/-4;

    background-color: $loginContainerColor;

    padding: 30px 30px;
    
    min-width: max-content;
    width: 50%;
    max-width: max-content;

    border-radius: 40px;
}

.login-title {
    color: white;
    text-align: center;
    margin: 0 0 40px 0;
    @include font-size-weight(2.5em, normal);
}

.input-group {
    display: grid;
    margin-bottom: 10px;

    label {
        color: white;
        margin-bottom: 8px;
    }

    input {
        @include font-size-weight(1.4em, lighter);
        padding: .1em .25em;
        background-color: transparent;
        
        border: none;
        border-bottom: 2px solid yellowgreen;
        outline: none;
        color: white;

            &:focus {
                border-bottom: 2px solid yellowgreen;
            }
    }
}

.login-button {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px; 
    background-color: $loginButtonBackgroundColor;
    border: 1px solid $loginButtonBorder;
    outline: none;
    color: white;
    @include font-size-weight(1.5em, lighter);
    margin-top: 20px;
    cursor: pointer;
    
        &:hover {
            background-color: $loginButtonHoverColor;
        }

        &:focus {
            background-color: $loginButtonFocusColor;
        }
}
