$fonts: 'Open Sans', sans-serif;

$fontSize: none;
$fontWeight: none;

$inputFocusColor: hsla(120, 100%, 2%, 0.692);

$loginButtonBorder: hsla(71, 48%, 41%, 0.808);
$loginContainerColor: hsla(64, 14%, 38%, 0.6);
$loginButtonBackgroundColor: hsla(130, 100%, 50%, 0.1);
$loginButtonHoverColor: hsla(106, 78%, 45%, 0.1);
$loginButtonFocusColor: hsla(106, 80%, 36%, 0.5);